body {
  width: 1200px;
  background-color: #849d8f;
  margin: 0% auto;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 9px;
  padding-bottom: 25px;
  border: 1px solid white;
  position: relative;

}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-medium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.visually-hidden {
  display: none;
}

/*

*/

.header {
  display: flex;
  flex-flow: row wrap;

}

.header-logo a {
  width: 154px;
  height: 64px;
}
.main-nav {

}

.nav-list {
  display: flex;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  align-items: baseline;
}

.nav-item {

  position: relative;

  height: 32px;
  border: 1px solid red;


}
.nav-item > a {
  font-family: 'Roboto-bold';

  font-size: 16px;
  line-height: 18px;


  color: #ffffff;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
}

.nav-item:hover .nav-catalog-list {
  display: flex;
}


.nav-item:hover > a {
  background-color: #f7f6f3;
  border-radius: 14px;
  color: #323232;
  text-decoration: none;
}


.nav-catalog-list {
  display: none;
  flex-direction: column;
  list-style: none;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  top: 30px;
  background-color: #f7f6f3;
  border-radius: 5px;



}
.nav-item-catalog:hover {
  background-color: #fbded8;

}
.nav-item-catalog:first-child > a {
  font-family: "Roboto-bold";

}


.nav-item-catalog > a {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  padding-left: 14px;
  padding-right: 20px;

  white-space: nowrap;
  text-decoration: none;
}





.user-block-list {
  display: flex;
  list-style: none;

  justify-content: flex-end;
  flex-grow: 1;

  border: 1px solid white;
}
.user-item > span {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-family: "Roboto-medium";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;

}
.user-item:nth-child(2) > span::before {
  content: "";
  position: absolute;


  width: 20px;
  height: 20px;
  background-image: url(../img/login-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;


}

/*
.user-item {

  opacity: 0.2;

  background-color:  #ffffff;
  border-radius: 5px;

}

.user-item:first-child {
  background:  url(../img/search-icon.svg) no-repeat;
}
*/


.user-item > form {
  display: none;
}

.info-mini {
  position: absolute;
  top: 50px;
  right: 50px;
}
.work-time {
  font-family: "Roboto-bold";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
}
span.call-number {
  font-family: "Roboto-bold";
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-align: right;
}

/* Оформляем main */
.features {

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  background:  url(../img/features-bg.jpg) no-repeat bisque;
}

.features h2 {
  font-family: "Roboto-medium";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  width: 532px;
  list-style: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

/*  Оформление атикла нью блог*/
.new-blog {
  display: flex;
  flex-direction: column;
  background: white url(../img/news-ice-blog-pic.jpg) no-repeat;
  width: 560px;

}
.new-subject {
  font-family: "Roboto-medium";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.news a {
  font-family: "Roboto-bold";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

/*  Оформление атикла рассылка*/
.subscribe {
  display: flex;
  flex-direction: column;
  /*
  background: white url(E:/Projects/914819-gllacy/img/news-ice-blog-pic.jpg) no-repeat;
  */
  width: 560px;
}
.subscribe-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}
input.email-subscribe {

}


/*  Оформление карыт адресов*/

.map-address {
  display: flex;
}

.map-address img {
  width: 100%;
}

.feedback-form {
  position: absolute;
  width: 302px;
  height: 305px;
  background-color: #ffffff;
}


/* footer */
.footer {
  display: flex;
  justify-content: space-between;
}
.social-list {
  display: flex;
}
.social-item   {
  display: flex;
  list-style: none;
  width: 38px;
  height: 38px;;

}
.twitter a {
  background:  url(../img/twitter-icon.svg) no-repeat;
}


.docs-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;

}
.doc-link {
  list-style: none;
  margin-right: 32px;
}
.doc-link a {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 18px;
  color: #fefefe;
}
.doc-link:first-child a {
  font-family: "Roboto-bold";

}



.copyright img {
  width: 108px;
  height: 39px;
}
.copyright p,
.copyright a
{
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

