body {
  width: 1200px;
  background-color: #849d8f;
  margin: 0% auto;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 9px;
  padding-bottom: 25px;
  border: 1px solid white;
  position: relative;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.visually-hidden {
  display: none;
}

/*  header */

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  position: relative;
}
/* header logo */
.header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

/* nav */
.main-nav {

}
.nav-list {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  border: #fefefe 1px solid;
  min-height: 32px;
}
.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-item > a {
  font-family: 'Roboto-Bold';
  font-size: 16px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 32px;
}
.nav-item:hover > a {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
  border-radius: 15px;
}
/*  попытка решить с помощью контейнера
.open-submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #f26843 1px solid;
}
*/
/* при наведении выводим список */
.nav-catalog-list {
  display: none;
}
.nav-item:first-child:hover .nav-catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  /*
  width: 143px;
  */
  position: absolute;

  margin: 0;
  padding: 0;

  top: 36px;
  left: -8px;
  /*
  border-radius: 5px;
  */
  /*
  top: 32px;
  left: -8px;
  */
  /* предыдущий вариант с бордером. попытка уйти на псевдоэлементы
  border-top: 5px solid transparent;
  */
  background-color: #f8f7f4;
  border-radius: 5px;
  /*
  border: 1px solid greenyellow;
  */

}
.nav-catalog-item {
  /*
  display: flex;
  */
  display: flex;
  align-items: center;
  min-height: 28px;
  /*
  background-color: #f8f7f4;
  */
  white-space: nowrap;
}
.nav-catalog-list::before {
  content: "";
  border: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
}
.nav-catalog-item > a {
  font-family: 'Roboto-Regular';
  font-size: 14px;
  color: #323232;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 12px;
}
.nav-catalog-item:first-child {
  /*
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  */
  min-height: 38px;
}
.nav-catalog-item:last-child {
  /*
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  */
}
.nav-catalog-item:first-child > a {
  font-family: 'Roboto-Bold';
}
.nav-catalog-item:hover {
  background-color: #fbded8;
}
/* При наведении на нижнюю или верхнюю ссылку в подменю
  задаем правильные закругления. Или это костыль?
*/
.nav-catalog-item:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav-catalog-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*  Хидер.Юзерская часть*/
.user-block-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  min-height: 32px;
  list-style: none;
  border: 1px solid black;
}
.user-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}
.user-item > span {
  font-family: 'Roboto-Medium';
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-left: 45px;
  padding-right: 17px;
  line-height: 32px;
}
.user-item:first-child > span {
  border-radius: 50%;
  padding: 0;
  width: 33px;
  height: 33px;
}
/* добавляем иконки */
.user-item > span::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 19px;
  background-image: url(../img/entrance-icon.svg);
  background-repeat: no-repeat;
  top: 6px;
  left: 16px;
}
.user-item:first-child > span::before {
  top: 8px;
  left: 8px;
  background-image: url(../img/search-icon.svg);
  background-size: 17px;
}
.user-item:last-child > span::before {
  background-image: url(../img/basket-icon.svg);
}
.user-item:first-child {
  margin-right: 10px;
}
.user-item:nth-child(2) {
  margin-right: 8px;
}

/* Рисуем формы для userblocks */
.user-item:first-child:hover .search-form {
  display: block;
  position: absolute;
  top: 37px;
  right: 0;
  background-color: #f8f7f4;
  border: 1px solid yellow;
  border-radius: 5px;
  box-sizing: content-box;
  /*
  border-top: 10px solid red;
  */

}
.user-item:first-child:hover .search-form ::before {
  content: "";
  border: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
}
/* обработка при наведении */
.user-item:hover > span {
  background-color: #f8f7f4;
  color: #323232;
}
.user-item:first-child:hover > span::before {
  background-image: url(../img/search-black-icon.svg);
}
.user-item:nth-child(2):hover > span::before {
  background-image: url(../img/entrance-black-icon.svg);
}
.user-item:last-child:hover > span::before {
  background-image: url(../img/basket-red-icon.svg);
}

/* оформляем контакты под навигацией */
.info-mini {
  position: absolute;
  top: 69px;
  right: 0px;
}
.info-mini > p {
  padding: 0;
  margin: 0;
  font-family: "Roboto-Bold";
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}
p.call-number {
  font-size: 22px;
}



/*  Временно лькдючены ВСЕ ФОРМЫ
    УДАЛИТЬ СТРОКУ НИЖЕ!
*/
form {
  display: none;
}


/* Оформляем main */
.main {
  margin: 0;
  padding: 0;
  /*  попытка включить флекс
  display: flex;
  flex-direction: column;
  */
}
.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 29px 20px;
  background:  url(../img/features-bg.jpg) no-repeat bisque;
  background-size: cover;
  border-radius: 15px;
}
.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Roboto-Medium";
  font-size: 24px;
  color: #323232;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-item {
  margin: 0px;
  flex-basis: 50%;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 56px;
  padding-right: 33px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #323232;
  position: relative;
}
.feature-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url(../img/feature-ice-cream-icon.svg) ;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}
.feature-item:nth-child(2)::before {
  background-image: url(../img/feature-cow-icon.svg) ;
}
.feature-item:nth-child(3)::before {
  background-image: url(../img/feature-eco-icon.svg) ;
}
.feature-item:last-child::before {
  background-image: url(../img/feature-thermo-icon.svg) ;
}

/* контейнер */
.box-blogs {
  display: flex;
  justify-content: space-around;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;

  min-height: 220px;
  border: 1px solid yellow;
}


/*  Оформление атикла нью блог*/
.new-blog {
  margin: 0;
  margin-right: 26px;
  box-sizing: border-box;
  flex-basis: 50%;

  background-color: #ffffff;
  background-image: url(../img/news-ice-blog-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 10px;
  padding: 26px 20px;

  border: 1px solid red;
}
h3.new-subject {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  text-align: left;
  color: #323232;
  max-width: 286px;
}
.news {
  padding: 0;
  margin: 0;
  max-width: 286px;
}
.news > a {
  font-family: "Roboto-Bold";
  font-size: 24px;
  text-decoration: none;
  color: #323232;

}

/*  Оформление секшона рассылка*/
.subscribe {
  /*
  display: flex;
  flex-direction: column;
  */
  margin: 0;
  box-sizing: border-box;
  /*
  flex-wrap: wrap;
  */
  flex-basis: 50%;
  padding: 37px 27px;

  background-color: #f8f7f4;

  border-radius: 10px;
}

.subscribe-text {
  padding: 0;
  margin: 0;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #5a5a5a;
}
input.email-subscribe {
  line-height: 44px;
}
.button {
  min-height: 44px;

  background-color: #f26843;
}


/*  Оформление карыт адресов*/

.map-address {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-address img {
  width: 100%;
}
/*

.feedback-form {
  position: absolute;
  width: 302px;
  height: 305px;
  background-color: #ffffff;
}
*/


/* footer */
.footer {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: #5a5a5a 1px solid;
}

/*  социалка */
.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  min-height: 38px;
  border: #f26843 1px solid;
}
.social-item {
  display: flex;
  min-height: 38px;
  align-items: center;
  border: greenyellow 1px solid;
  margin-right: 10px;
}
.social-item > a {
  width: 38px;
  height: 38px;
  font-size: 0;
  background-image: url(../img/twitter-icon.svg);
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.insta > a {
  background-image: url(../img/insta-icon.svg);
}
.fb > a {
  background-image: url(../img/fb-icon.svg);
}
.vk > a {
  background-image: url(../img/vk-icon.svg);
}

/*  правовая информация*/

.docs-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px blueviolet solid;

}
.doc-item {
  display: flex;
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px lightgreen solid;
}
.doc-item > a {
  font-family: "Roboto-Regular";
  font-size: 13px;
  color: #ffffff;
}
.doc-item:first-child > a {
  font-family: "Roboto-Bold";
}


/* копирайт */
.copyright {
  display: flex;
  flex-direction: column;
}
.copyright > img {
  height: 39px;
  width: 108px;
}
.copyright p,
.copyright a {
  font-family: "Roboto-Regular";
  font-size: 12px;
  color: #fefefe;
}

/* страница каталога */
.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid goldenrod;
}
.nav-site-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid khaki;
}
.nav-site-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid rebeccapurple;
}
.nav-site-item > a {
  font-family: "Roboto-Regular";
  font-size: 14px;
  color: #ffffff;
}

/* заголовок каталога */
h2.main-title {
  font-family: "Roboto-Bold";
  font-size: 35px;
  color: #ffffff;
}

/* сортировка по сетке элементов товара */
article.ice-creams-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
article.ice-item {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;

  box-sizing: border-box;
  border: 1px solid powderblue;
}


