@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
       url('../fonts/roboto-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium.woff2') format('woff2'),
       url('../fonts/roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  list-style: none;
}
body {
  position: relative;

  box-sizing: border-box;
  width: 1200px;
  margin: 0% auto;

  background-color: #849d8f;
}
.header,
.main,
.footer,
.slider,
.sales {
  margin-left: 27px;
  margin-right: 27px;
}
a {
  text-decoration: none;
}

.hidden {
  display: none;
}
/* Стилизация подчеркивания для ссылки */
.doc-item > a,
.copyright a,
.breadcrumb-item > a,
.desc-ice > a,
main.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* Стилизация подчеркивания для ссылки при наведении */
.doc-item > a:hover,
.copyright a:hover,
.breadcrumb-item > a:hover,
.desc-ice > a:hover,
.doc-item > a:active,
.copyright a:active,
.breadcrumb-item > a:active,
.desc-ice > a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
/* Стилизация подчеркивания для ссылки навигации */
.nav-item:not(.current) > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* Стилизация подчеркивания для ссылки на белом фоне */
.reg-item > a {
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
/* Стилизация подчеркивания для ссылки при наведении на белом фоне */
.reg-item > a:hover,
.reg-item > a:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.2);
}

/* КНОПКА ОБЩАЯ*/
.button,
.link-button {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #fefefe;
  border: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}
/* Стилизация общей формы*/
.user-login,
.search-form,
.basket-form {
  display: none;
}
form:not(.form-filter){
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
/* Стилизация общая для input  */
input {
  padding-right: 15px;
  padding-left: 15px;
  min-height: 44px;
  box-sizing: border-box;

  font-size: 16px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #d3d3d2;
  border-width: 1px;
  outline-style: none;
}
input::placeholder {
  color: #999999;
}
input:focus {
  min-height: 44px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}
input:hover:not(:focus) {
  box-sizing: border-box;
  border: 2px solid rgba(154, 154, 154, 0.52);
}


/*  header */
.header {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 9px;
  margin-bottom: 28px;
}
/* header logo */
.header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
/* Список навигации */
.nav-list {
  position: relative;

  display: flex;
  align-items: center;
}
/* Элемент списка */
.nav-item {
  position: relative;

  min-height: 32px;
  padding-left: 13px;
  padding-right: 13px;
}
/* Оформление заголовка элемента навигации */
.nav-item > a {
  position: relative;

  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}
/* Текущая страница */
.nav-item.current {
  background-color: #d07058;
  border-radius: 16px;
}
.nav-item:not(.current):hover {
  border-radius: 16px;
  background-color: #f7f6f3;
}
.nav-item:not(.current):hover > a {
  color: #333333;
  border-bottom: none;
}
/* Прячем по умолчанию подменю навигации */
.nav-catalog-list {
  display: none;
}
/* при наведении выводим список подменю */
.nav-item:first-child:hover .nav-catalog-list {
  position: absolute;
  top: 36px;
  left: -8px;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f8f7f4;
  border-radius: 5px;
}
/* Элемент подменю */
.nav-catalog-item {
  display: flex;
  align-items: center;

  min-height: 28px;
  white-space: nowrap;
}
/* Позиция вывод подменю */
.nav-catalog-list::before {
  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;

  content: "";
  border: 5px solid transparent;
}
.nav-catalog-item > a {
  padding-left: 20px;
  padding-right: 12px;

  font-size: 14px;
  color: #323232;
}
/* Оформляем первый элемент подменю */
.nav-catalog-item:first-child {
  position: relative;
  min-height: 38px;
}
/* вставка подчеркивания снизу */
.nav-catalog-item:first-child::before {
  position: absolute;
  bottom: 0px;
  left: 6px;
  width: calc(100% - 15px);

  content: "";
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
.nav-catalog-item:first-child > a {
  font-weight: bold;
}
.nav-catalog-item:hover {
  background-color: #fbded8;
}
/* При наведении нижнюю или верхнюю ссылку в подменю
  задаем правильные закругления
*/
.nav-catalog-item:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.nav-catalog-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*  Хидер. Юзерская часть*/
.user-block-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  min-height: 32px;
}
/* Элемент юзерской части */
.user-item {
  position: relative;

  display: flex;
  align-items: center;
}
.user-item > span {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;

  padding-left: 45px;
  padding-right: 17px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
/* Фон юзерских элементов */
.user-item:first-child > span {
  width: 33px;
  height: 33px;
  padding: 0;

  border-radius: 50%;
}
/* добавляем иконки */
.user-item > span::before {
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  content: "";
  background-image: url(../img/entrance-icon.svg);
  background-repeat: no-repeat;
}
.user-item:first-child > span::before {
  top: 8px;
  left: 8px;

  background-image: url(../img/search-icon.svg);
  background-size: 17px;
}
.user-item:last-child > span::before {
  background-image: url(../img/basket-icon.svg);
}
.user-item:first-child {
  margin-right: 10px;
}
.user-item:nth-child(2) {
  margin-right: 8px;
}
/* Рисуем формы общие для юзерской части */
.user-item:hover form {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 4;

  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  box-sizing: border-box;
}
/* добавляем линию чтобы не пропадала форма при наведении*/
.user-item:first-child:hover .search-form::before,
.user-item:nth-child(2):hover .user-login::before,
.user-item:last-child:hover .basket-form::before {
  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;

  content: "";
  border: 10px solid transparent;
}
/* Рисуем формы для userblocks 2. login */
.user-login {
  width: 277px;
}
.user-login input[type="email"],
.user-login input[type="password"] {
  margin-bottom: 20px;
}
.container-reg {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
}
.container-reg .button {
  margin-right: 20px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 22px;

  font-size: 18px;
}
.reg-item a {
  font-size: 13px;
  color: #323232;
}
/* Рисуем формы для корзины */
.basket {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cacac7;
}
.basket-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  box-sizing: border-box;
}
.basket-cell {
  font-size: 13px;
  color: #323232;
}
.basket-cell:first-child {

}
.basket-cell button {
  width: 11px;
  height: 11px;
  border-style: none;
  background-image: url("../img/cross-small-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
.basket-cell:nth-child(2) img {
  padding: 0 14px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-clip: border-box;
}
.basket-cell:nth-child(3) {
  width: 247px;
  padding-right: 15px;
  box-sizing: border-box;
}
.basket-cell:nth-child(4) {
  width: 122px;
  padding-right: 15px;
  box-sizing: border-box;
}
.basket-cell:nth-child(4) span {
  color: #999999;
}
.basket-cell:nth-child(5) {
  width: 68px;
  padding-right: 15px;
  box-sizing: border-box;
}

.basket-form > p,
.basket-form .total
{
  padding: 17px 0;
  font-weight: bold;
  font-size: 15px;
  color: #323232;
}
.basket-form > p,
.basket-form > button {
  align-self: flex-end;
}
.basket-form > button {
  height: 44px;
  padding: 0 14px;
  border-radius: 22px;
  font-size: 18px;
  color: #fefefe;
}
/* обработка при наведении на юзерские элементы*/
.user-item:hover > span {
  color: #323232;
  background-color: #f8f7f4;
}
.user-item:first-child:hover > span::before {
  background-image: url(../img/search-black-icon.svg);
}
.user-item:nth-child(2):hover > span::before {
  background-image: url(../img/entrance-black-icon.svg);
}
.user-item:last-child:hover > span::before {
  background-image: url(../img/basket-red-icon.svg);
}
/* оформляем контакты под навигацией */
.info-mini {
  position: absolute;
  top: 69px;
  right: 0px;
}
.info-mini > p {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
p.call-number {
  font-size: 22px;
}
/* Оформляем слайдер */
.site-wrapper {
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}
.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}
.slider {
  position: relative;
  padding-top: 324px;
  margin-bottom: 40px;

  text-align: center;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}
.slider .button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: bold;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  border-radius: 50px;

  cursor: pointer;
}
/* Стили для переключения слайдов*/
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-item {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  /*
  background-color: #849d8f;
  */
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  /*
  background-color: #8996a6;
  */
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  /*
  background-color: #9d8b84;
  */
  background-image: url("../img/slider-item3.png");
}


#product-1:checked ~ .site-wrapper .slide1,
#product-2:checked ~ .site-wrapper .slide2,
#product-3:checked ~ .site-wrapper .slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/* оформляем sales*/
.sales {
  margin-bottom: 40px;
}
.sales .sale-list {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sale-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 560px;
  height: 229px;
  box-sizing: border-box;
  border-radius: 15px;
  background-image: url("../img/raspberry-free-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sale-item:nth-child(2) {
  background-image: url("../img/chocolate-free-bg.jpg");
}

.sale-item h3,
.sale-item p {
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
  color: #ffffff;
}
.sale-item h3 {
  margin-bottom: 20px;
}
.sale-item p {
  font-size: 18px;
  line-height: 22px;
  min-height: 85px;
}
.sale-item .button {
  align-self: flex-end;
  box-sizing: border-box;
  padding: 14px 22px;
  min-height: 46px;

  font-size: 18px;
  line-height: 24px;
  text-align: right;

  border-radius: 23px;
}
/* Оформляем main */
.main {
}
.features {
  margin-bottom: 40px;
  padding: 29px 20px;
  padding-bottom: 16px;
  border-radius: 15px;
  background:  url("../img/features-bg.jpg") no-repeat bisque;
  background-size: cover;
}
.features h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  color: #323232;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-item {
  position: relative;

  flex-basis: 50%;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 10px;


  font-size: 16px;
  color: #323232;
}
.feature-item::before {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 49px;
  height: 49px;

  content: "";
  background-image: url(../img/feature-ice-cream-icon.svg) ;
  background-repeat: no-repeat;
}
.feature-item:nth-child(2)::before {
  background-image: url(../img/feature-cow-icon.svg) ;
}
.feature-item:nth-child(3)::before {
  background-image: url(../img/feature-eco-icon.svg) ;
}
.feature-item:last-child::before {
  background-image: url(../img/feature-thermo-icon.svg) ;
}
/* контейнер Блоговской части*/
.box-blogs {
  display: flex;
  justify-content: space-around;
  min-height: 220px;
  margin-bottom: 39px;

  box-sizing: border-box;
}
/*  Оформление атикла нью блог*/
.new-blog {
  flex-basis: 50%;
  padding: 26px 20px;
  margin-right: 26px;
  box-sizing: border-box;

  background-color: #ffffff;
  background-image: url(../img/news-ice-blog-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
h3.new-subject {
  margin-bottom: 13px;
  max-width: 286px;

  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #323232;
}
.news {
  max-width: 286px;
}
.news > a {
  font-weight: bold;
  font-size: 24px;
  color: #323232;
}
/*  Оформление секшона рассылка*/
.subscribe {
  flex-basis: 50%;
  padding: 6px;
  box-sizing: border-box;
  background-image: url(../img/post-bg.svg);
  background-repeat: no-repeat;
  border-radius: 10px;
}
.subscribe > .container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 100%;
  padding: 31px 21px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
}
.subscribe-text {
  font-size: 16px;
  color: #5a5a5a;
}
.subscribe span {
  display: flex;
  justify-content: space-between;
}
input.email-subscribe {
  flex-grow: 1;
  margin-right: 11px;
  line-height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
.subscribe .button {
  padding-right: 19px;
  padding-left: 19px;

  border-radius: 25px;
  font-size: 18px;
}
/*  Оформление карыт адресов*/
.map-address {
  position: relative;
}

.map-address > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 1200px;
  height: 430px;
}
.map-address iframe {
  position: relative;
  border: none;
  z-index: 2;
}
/* Вставка указателя */
.map-address::before {
  position: absolute;
  top: 139px;
  left: 235px;
  width: 80px;
  height: 140px;
  z-index: 2;

  content: "";
  background-image: url(../img/pin-icon.svg);
  background-repeat: no-repeat;
}
.feedback-form {
  position: absolute;
  top: 63px;
  right: 27px;
  display: flex;
  flex-direction: column;
  width: 302px;
  padding: 32px 25px;
  box-sizing: border-box;
  z-index: 3;
}
.feedback-form p {
  font-size: 14px;
  color: #323232;
}
.feedback-form span {
  font-weight: bold;
  font-size: 18px;
  color: #323232;
}
.feedback-form .address-text {
  width: 148px;
}
.feedback-form .address {
  display: block;
  padding-bottom: 23px;
}
.feedback-form .call-text {
  display: block;
}
.feedback-form .call-number {
}
.feedback-form .work-time {
  padding-bottom: 26px;
}

.feedback-form .button {
  min-height: 44px;
  width: 100%;
  border-radius: 22px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  color: #fefefe;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 25px;
}
/*  социалка */
.social-list {
  display: flex;
  align-items: center;
  min-height: 38px;
  list-style: none;
}
.social-item {
  display: flex;
  align-items: center;
  height: 38px;
  margin-right: 10px;
}
.social-item > a {
  width: 38px;
  height: 38px;
  font-size: 0;

  background-image: url(../img/twitter-icon.svg);
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  box-shadow: inset 0 0 20px 4px #ffffff ;
}
.social-item:hover > a {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 20px 4px #ffffff ;
}
.social-item:active > a {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 20px 4px #ffffff ;
}
.insta > a {
  background-image: url(../img/insta-icon.svg);
}
.fb > a {
  background-image: url(../img/fb-icon.svg);
}
.vk > a {
  background-image: url(../img/vk-icon.svg);
}

/*  правовая информация*/
.docs-list {
  display: flex;

  flex-wrap: wrap;
  width: 330px;
  box-sizing: border-box;
}
.doc-item {
  position: relative;

  flex-basis: 50%;
  min-height: 13px;
  box-sizing: border-box;
}
.doc-item:first-child,
.doc-item:nth-child(2) {
  margin-bottom: 9px;
}
.doc-item:first-child,
.doc-item:nth-child(3) {
  padding-right: 10px;
}

.doc-item > a {
  position: relative;
  font-size: 13px;
  line-height: 13px;
}
.doc-item:first-child > a {
  font-weight: bold;
}
.doc-item:first-child > a::after {
  position: absolute;
  top: 0;
  left: -22px;

  height: 13px;
  width: 15px;

  content: "";
  background-image: url(../img/contract-icon.svg);
  background-repeat: no-repeat;
  line-height: 13px;
}

/* копирайт */
.copyright {
}
.copyright > svg {
  width: auto;
  height: 39px;
  overflow: initial;
}
.copyright p,
.copyright a {
  position: relative;
  font-size: 12px;
  color: #fefefe;
}
/* страница каталога */
/* хлебные крошки */
.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.breadcrumb-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  min-height: 14px;
}
.breadcrumb-item > a {
  position: relative;
  font-size: 14px;
  line-height: 14px;
}

/* Вставляем символ » */
.breadcrumb-item:not(:last-child)::after {
  position: absolute;
  top: -5px;
  right: -15px;
  content: "»";
  width: auto;
}

/* заголовок каталога */
h2.main-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
}
/* ФИЛЬТРАЦИЯ */
.filters {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: 14px;
}
.filter-control-list {
  display: flex;
  min-height: 37px;
  box-sizing: border-box;
}
.filter-control {
  display: flex;
  align-items: center;
  min-height: 37px;
  box-sizing: border-box;
  padding-right: 16px;
  padding-left: 16px;
}
.filter-control-list,
.filter-item:first-child .filter-control,
.filter-item:nth-child(2) .filter-control {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}
.button-filter {
  align-self: flex-end;
  min-height: 37px;
  min-width: 144px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}
.filter-legend {
  min-height: 25px;
  line-height: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}
select[id="sort"] {
  background: transparent;
  border: none;
}
select[id="sort"],
.filter-desc,
.button-filter {
  font-weight: 500;
  font-size: 16px;
}
.fat-perc,
.additive {
  font-size: 0;
}
input[name="fat-radio"],
input[name="additive-checkbox"] {
  display: none;
}
/* настраиваем кнопки выбора процента жирности товара */
.fat-perc {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url("../img/radio-off-icon.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}
.fat-perc::before {
  display: none;
}
input[name="fat-radio"]:checked + .fat-perc {
  background-image: url("../img/radio-on-icon.svg");
  background-size: 22px;
}
/* Вторая версия на случай если использовать средствами css отрисовку
input[name="fat-radio"]:checked + .fat-perc::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
}
*/
.fat-perc + .filter-desc {
  padding-left: 10px;
}
/* настраиваем кнопки выбора наполнителя */
.additive {
  width: 24px;
  height: 20px;
  box-sizing: border-box;
  background-image: url("../img/checkbox-off-icon.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
}
input[name="additive-checkbox"]:checked + .additive {
  background-image: url("../img/checkbox-on-icon.svg");
  background-size: 24px 20px;
}
.additive + .filter-desc {
  padding-left: 8px;

}

/* стилизация цены */
.price-controls {
  display: none;
}
.filter-item:nth-child(2) .ranges {
  position: relative;
  width: 100%;
}
.ranges .scale {
  position: relative;
  height: 2px;
  width: 100%;

  background: rgba(248, 247, 244, 0.5);
}

.ranges .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.ranges .toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.ranges .toggle-min {
  left: 0;
}
.ranges .toggle-max {
  left: 80%;
}
.ranges .toggle:hover {
  background: #1c4f80;
}
/* сортировка по сетке элементов товара */
/* Список товаров */
article.ice-creams-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  box-sizing: border-box;
}
/* Элемент товара */
article.ice-item {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  padding-top: 6px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
article.hit::after {
  position: absolute;
  top: 0;
  left: 13px;
  content: "";
  width: 61px;
  height: 61px;
  background-image: url("../img/hit-icon.svg");
  background-repeat: no-repeat;
  background-size: 61px 61px;
  background-color: transparent;
  border-radius: 50%;
}
article.ice-item > img {
  margin: 0 auto;
  width: 267px;
  height: 267px;

  background-clip: border-box;
  border-radius: 50%;
}
article.ice-item > .price {
  position: absolute;
  top: 214px;
  left: 13px;

  font-weight: bold;
  font-size: 45px;
  line-height: 34px;
}
article.ice-item .unit {
  position: relative;
  padding-left: 37px;

  font-size: 30px;
}
article.ice-item .unit::before {
  position: absolute;
  left: 7px;
  top: 0px;

  height: 34px;
  width: 30px;

  content: "";
  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
}
.desc-ice {
  z-index: 3;
  width: 267px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

}
.desc-ice a {

}

article.ice-item:hover .container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 405px;
  min-height: 405px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: rgba(248, 247, 244, 0.2);
}
.ice-item .link-button{
  display: none;
}
article.ice-item:hover .link-button {
  display: block;
  margin: 0 auto;
  padding: 0 17px;
  line-height: 44px;
  margin-bottom: 22px;

  font-size: 18px;
  white-space: nowrap;
  border-radius: 25px;
}

/* Тень меню и форм */
article.ice-item:hover::before {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/* Нажатие на Каталог */
.nav-item:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
/* нажатие на подменю каталога */
.nav-catalog-item:active {
  background-color: #f6b5a5;
}
/* находимся на текущей странице подменю каталога */
.nav-catalog-item.current {
  color: #ffffff;
  background-color: #d07058;
}

.paginator {
  display: flex;
}

.button:hover,
.link-button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.button:active,
.link-button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.modal {
  position: fixed;
  display: none;
}
.modal-show {
  z-index: 3;
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.modal-feedback {
  top: 337px;
  left: 50%;
  margin-left: -239px;
}
.feedback-modal-form {
  display: flex;
  flex-direction: column;
  width: 478px;
  padding: 25px;
  padding-top: 20px;
  padding-bottom: 27px;
}
.feedback-modal-form h2 {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.feedback-modal-form p {
  margin-bottom: 20px;
}
.feedback-modal-form input {
  width: 267px;
}
.feedback-modal-form .feedback-textarea {
  width: 100%;
  height: 155px;
}
.feedback-modal-form p:last-child {
  margin-bottom: 25px;
}
.feedback-modal-form .button {
  align-self: flex-end;
  height: 44px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #fefefe;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 17px;
  width: 18px;
  height: 17px;
  font-size: 0;
  background-image: url("../img/cross-big-icon.svg");
  background-size: 18px 17px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back-slider-1 {
  background-color: #849d8f;
}
.back-slider-2 {
  background-color: #8996a6;
}
.back-slider-3 {
  background-color: #9d8b84;
}
 /*
  background-color: #849d8f;
  */
    /*
  background-color: #8996a6;
  */
  /*
  background-color: #9d8b84;
  */
