body {
  width: 1200px;
  background-color: #849d8f;
}

.visually-hidden {
  display: none;
}
header {

}
header .main-nav {
  display: flex;
}
.main-nav .nav-list {
  display: flex;
}


.nav-item:first-child .nav-catalog-list,
.user-item:first-child .search-form,
.user-item:nth-child(2) .user-login,
.user-item:nth-child(3) .basket-form {
  display: none;
}
.nav-item:first-child:hover .nav-catalog-list,
.user-item:first-child:hover .search-form,
.user-item:nth-child(2):hover .user-login,
.user-item:nth-child(3):hover .basket-form {
  display: block;
}

.main-nav .user-block {
  align-items: flex-end;
}
.user-block .user-block-list {
  display: flex;
}

@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('roboto-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('roboto-medium-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
